<div style="text-align:left">
  <div formGroupName="expense">
    <h3>New Expense</h3>
    <label>
      Amount:
      <input type="text" formControlName="amount">
    </label>
    <br />
    <label>
      Payee:
      <input type="text" formControlName="payee">
    </label>
    <br />
    <label>
      Date:
      <input type="text" formControlName="date">
    </label>
    <br />
    <label>
      Category:
      <input type="text" formControlName="category" align="left">
    </label>
    <br />
    <label>
      Date:
      <input type="text" formControlName="date" align="left">
    </label>
    <br />
    <label>
      Repeat:
      <input type="checkbox" formControlName="repeat" align="left">
    </label>
    <br />
    <label>
      Impulse:
      <input type="checkbox" formControlName="impulse" align="left">
    </label>
    <br />
    <label>
      Account:
      <input type="text" formControlName="account" align="left">
    </label>
    <br />
    <label>
      Color:
      <input type="text" formControlName="color" align="left">
    </label>
    <br />
  </div>
  </div>

