<p>
  home works!
</p>
<div style="text-align:left">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="250" alt="Show Me The Money!" src="./assets/AngularMoney.jpeg">
  <nav>
    <!--<a routerLink="/app-expense-documentor" routerLinkActive="active">Document New Expense</a>-->
  </nav>
  
    <!--<h5>Here are some links to help you start: </h5>
    <ul>
      <li>
        <h6><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h6>
      </li>
      <li>
        <h6><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h6>
      </li>
      <li>
        <h6><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h6>
      </li>
    </ul>-->
