<nav>
  <a routerLink="/" routerLinkActive="active">Whatever You Do, Don't Push This Button</a>&nbsp;
  <a routerLink="/receipts" routerLinkActive="active">Receipts</a>&nbsp;
  <a routerLink="/expenses" routerLinkActive="active">Create New Expense</a>&nbsp;
</nav>

<h1>
  Welcome to {{ title }}!
</h1>
<label><input type="checkbox" [(ngModel)]="hideLogo" />Hide Logo</label>
<br />
<div [hidden]="hideLogo">
  <img width="250" alt="Show Me The Money!" src="./assets/AngularMoney.jpeg">
</div>
  <router-outlet></router-outlet>






