<nav>
  <a routerLink="/" routerLinkActive="active">Whatever You Do, Don't Push This Button</a>&nbsp;
  <a routerLink="/receipts" routerLinkActive="active">Receipts</a>&nbsp;
  <a routerLink="/expenses" routerLinkActive="active">Create New Expense</a>&nbsp;
</nav>

<h1>
  Welcome to {{ title }}!
</h1>
<label><input type="checkbox" [(ngModel)]="hideLogo" />Hide Logo</label>
<br />
<div [hidden]="hideLogo">
  <img width="250" alt="Show Me The Money!" src="./assets/AngularMoney.jpeg">
</div>
<body>This is an application for managing your expeneses.
  Click the receipts link to view your expenses.
  Click on any expense int the list to view the data for that expense.
  To edit an expense, type in your changes into the field and click update.
  You can also delete an expense by clicking update.
  Click the Add New Expense link to go to the form for adding an expense.
  Fill out the fields and submit.
  If your expense is not added try again, paying careful attention to the
  format you are using for each field.
</body>
  <router-outlet></router-outlet>






